* {
    box-sizing: border-box;
  }


 @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat.ttf')  format('truetype');
  }


/* Formato de texto del cuperpo */
 body {
    font-family: Montserrat;
	color: #CFE8C1;	 
  }
  

/* Estilo encabezado*/
  header {
    font-family: 'Gill Sans MT';
    background-color: #383b54;
    padding: 0px;
    text-align: center;
    font-size: 15px;
    color: white; 
  }
  

  
  
  
  
  
  
  
  
  /* Style the list inside the menu 
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  */
  
  
  
  /* Clear floats after the columns 
  section:after {
    content: "";
    display: table;
    clear: both;
  }
  */
    
	
	
  /* Style the footer */
  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  
  
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }


/* Estilo general de las áreas */
  /* div{
	float:left;
	width: 30%;
	background: #000;
	padding: 20px;
	height:auto;
	}
*/

/* Áreas */
.central{
	float:left;
	width: 60%;
	height: 600px;
	background-color: #CFE8C1;
	padding: 10px;
	}
.lateral{
	float:left;
	width: 20%;
	height: 600px;
	background-color: #CFE8C1;
	padding: 10px;
	}

.formulario {
	width: 97%;
  	border-radius: 5px;
 	background-color: #72BA9C;
  	padding: 0px;
}

.prod{
	width:90%;
	}


/* Botones */
 
.salir1{
	width: 100%;
	color: #FCF5C0;
	background-color: #E02F58;
    padding: 10px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    border-radius: 15px;
    border: none;
    box-sizing: border-box;
	}

.registrar{
	width: 100%;
	color: #FCF5C0 ;
	background-color: #383B54;
    padding: 10px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    border-radius: 15px;
    border: none;
    box-sizing: border-box;
	}



.contraseña{
	width: 50%;
	color: #FCF5C0 ;
	background-color: #383B54;
    padding: 10px;
    font-family: Montserrat;
    font-weight: normal;
    text-align: center;
    border-radius: 7px;
    border: none;
    box-sizing: border-box;
	}
	
/* Cajas de texto */

.tbbuscar {
  width: 100%;
  height: 22px;
  text-align:center;
  background-color: #FCF5C0 ;
  background-image:url(imagenes/F%20Lupa.png);
  background-size:20px 20px;
  background-position:inherit;
  background-repeat: no-repeat;  
  padding-left: 16px;
  border:1px solid #456879;
  border-radius: 15px;
}

.busqueda {
	color: #72BA9C;
}

.nuevaVenta {
	font-size:25px;
	}


.tbcant {
  width: 100%;
  height: 22px;
  text-align:center;
  background-color: #FCF5C0 ;
  border:1px solid #456879;
  border-radius: 15px;
  /*padding: 12px 0px;*/
  /*margin: 0px 0;*/
  /*display: inline-block;*/
  /*box-sizing: border-box;*/
}

.tbtxt {
  width: 100%;
  height: 22px;
  text-align:left;
  background-color: #FCF5C0;
  border:1px solid #456879;
  border-radius: 15px;
}

.tbprot {
  width: 100%;
  height: 22px;
  text-align:left;
  background-color: #CFE8C1;
  border:1px solid #456879;
  border-radius: 15px;
}

.recuperar {
  width: 60%;
  height: 30px;
  text-align:left;
  background-color: #CFE8C1;
  border:1px solid #456879;
  border-radius: 8px;
}

.principal {
    height: 120px;
    background-color: #383B54;
    display: flex;
    justify-content: center;
}

.principal-items {
    height: 120px;
    width: 1300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

img {
    height: 70px;
}

.usuario-foto {
    display: flex;
    align-items: center;
}

.usuario {
    font-size: 25px;
    color: #FCF5C0;
    font-family: Gill Sans MT;
    font-weight: normal;
    display: flex;
    margin-right: auto;
    padding-left: 20px;
}

.brioche {
    font-size: 40px;
    color: #FCF5C0;  /* Ocre */
    font-family: Gill Sans MT;
    font-weight: normal;
    display: flex;
    margin-right: 380px;
}

.boton {
    color: #FCF5C0;
    padding: 10px;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: normal;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    border: none;
    justify-content: center;
    text-decoration: none;
}

.salir {
    background-color: #E02F58;  /* Rosado */
    width: 125px;
}