*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #CFE8C1;
}
.form-registro{
  width: 250px;
  background: #72BA9C;
  padding: 40px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'Gill Sans MT';
  color: #CFE8C1;
}

.form-registro h4{
  font-size: 20px;
  margin-bottom: 18px;
}

.controls{
  width: 100%;
  background: #CFE8C1;
  font-family: Montserrat;
  padding: 5px;
  margin-bottom: 7px;
  font-size: 16px;
  border : none;
  border-radius: 5px;
}

.form-registro a{
  color: #383B54;
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 12px;

}
.form-registro p{
    text-align: right;
}

.form-registro .botons1{
    width: 100%;
    color:  #72BA9C;
    background:  #383B54;
    padding: 10px;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    margin-bottom: 7px;
}

.form-registro .botons2{
    width: 100%;
    color:  #72BA9C;
    background:  #E02F58;
    padding: 10px;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #CFE8C1;  /* Azul claro */
}

.principal {
    height: 120px;
    background-color: #383B54;
    display: flex;
    justify-content: center;
}

.principal-items {
    height: 120px;
    width: 1300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.usuario-foto {
    display: flex;
    align-items: center;
}

img {
    height: 70px;
}

.usuario {
    font-size: 25px;
    color: #FCF5C0;
    font-family: Gill Sans MT;
    font-weight: normal;
    display: flex;
    margin-right: auto;
    padding-left: 20px;
}
.brioche {
    font-size: 40px;
    color: #FCF5C0;  /* Ocre */
    font-family: Gill Sans MT;
    font-weight: normal;
    display: flex;
    margin-right: 380px;
}

.boton {
    color: #FCF5C0;
    padding: 10px;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: normal;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    border: none;
    justify-content: center;
    text-decoration: none;
}

.salir {
    background-color: #E02F58;  /* Rosado */
    width: 150px;
    
