{% extends "template.html" %}

{% block link %}
    <link rel="stylesheet" href={{ url_for('static',filename='styles/estilos.css') }}>
    <link rel="stylesheet" href={{ url_for('static',filename='styles/alerts.css') }}>
{% endblock %}

{% block title %}Brioche ☕ - Cambiar contraseña{% endblock %}

{% block body %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{category}} alert-dismissible" style="font-size:14px">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              {{message}}
            </div>
          {% endfor %}
        {% endif %}
    {% endwith %}

    <section class = "f-registro">
      <center><h4>Cambio de <br>contraseña</h4></center>
      <form action="" method="post" id='password-change-form'>
        {{ pass_change_form.hidden_tag() }}
        {{ pass_change_form.prev_pass(class="controls", placeholder="Contraseña Actual") }}
        {{ pass_change_form.new_pass(class="controls", placeholder="Nueva contraseña") }}
        {% for error in pass_change_form.new_pass.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <br>
        {{ pass_change_form.confirmPass(class="controls", placeholder="Confirmar Nueva contraseña") }}
        {% for error in pass_change_form.confirmPass.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <br>
        {{ pass_change_form.submit(class="botons1") }}
        <br>
        <input class="botons2" type="reset" value="Cancelar">
      </form>
      <!-- <input class="controls" type="password" name="contraseña anterior" id="contraseña ant" placeholder="Contraseña Anterior">
      <input class="controls" type="password" name="nueva contraseña" id="nueva contraseña" placeholder="Nueva contraseña">
      <input class="controls" type="password" name="confirmar contraseña" id="confirmar contraseña" placeholder="Confirmar contraseña"> -->
      <!-- <input class="botons1" type="button" value="Cambiar contraseña"> -->
    </section>

{% endblock %}