<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href={{ url_for('static',filename='styles/estilo.css') }}>
    <title>Brioche ☕ - Cambiar contraseña</title>
  </head>
  <div class="principal">
        <div class="principal-items">
            <div class="usuario-foto" >
                <img src={{ url_for('static', filename='images/usuario_profile_img.png') }} alt="Foto perfil">
            </div>
            <div class="usuario">Usuario</div>
            <div class="brioche">Cafetería Brioche</div>
            <div>
                <a class="boton salir" href="inicio.html">Salir</a>
            </div>
        </div>
    </div>
  <body>
    <section class = "form-registro">
      <center><h4>Cambio de <br>contraseña</h4></center>
      <input class="controls" type="password" name="contraseña anterior" id="contraseña ant" placeholder="Contraseña Anterior">
      <input class="controls" type="password" name="nueva contraseña" id="nueva contraseña" placeholder="Nueva contraseña">
      <input class="controls" type="password" name="confirmar contraseña" id="confirmar contraseña" placeholder="Confirmar contraseña">
          <br>
      <input class="botons1" type="button" value="Cambiar contraseña">
          <br>
        <input class="botons2" type="button" value="Cancelar">
    </section>
  </body>
</html>
