{% extends "template.html" %}

{% block link %}<link rel="stylesheet" href={{ url_for('static',filename='styles/estilo.css') }}>{% endblock %}

{% block title %}Brioche ☕ - Cambiar contraseña{% endblock %}

{% block body %}

    <section class = "form-registro">
      <center><h4>Cambio de <br>contraseña</h4></center>
      <input class="controls" type="password" name="contraseña anterior" id="contraseña ant" placeholder="Contraseña Anterior">
      <input class="controls" type="password" name="nueva contraseña" id="nueva contraseña" placeholder="Nueva contraseña">
      <input class="controls" type="password" name="confirmar contraseña" id="confirmar contraseña" placeholder="Confirmar contraseña">
          <br>
      <input class="botons1" type="button" value="Cambiar contraseña">
          <br>
        <input class="botons2" type="button" value="Cancelar">
    </section>

{% endblock %}