<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ url_for('static',filename='styles/crearCajero.css') }}>
    
    <title>Brioche ☕ - Reg. Cajero</title>
</head>
<body>
    <header class="header">
        <div class="user-info">
            <a href={{ url_for('show_admin_menu') }}>
                <figure class="user-info-item">
                    <img src={{ url_for('static', filename='images/usuario_profile_img.png') }} alt="Foto de perfil">
                </figure>
                <h3 class="username user-info-item">{{ current_user.id }}</h3>
            </a>
        </div>
        <h1 class="window-title">Cafetería Brioche</h1>
        <div class="buttons-container">
            <a class="button go-back" href="{{ url_for('show_admin_menu') }}">Regresar</a>
            <a class="button log-out" href="{{ url_for('auth.logout') }}">Cerrar Sesion</a>
        </div>
    </header>
    <main class="main-container">
        <div class="panel">
            <figure>
                <img src={{ url_for('static', filename='images/logo_brioche.png') }} alt="Brioche logo">
            </figure>
        </div>
        <div class="form-container">
            <form action="" method="post" class="form" id="new-cashier-form">
                {{ new_cashier_form.hidden_tag() }}
                <h3>Nuevo Cajero</h3>
                <label for="username">
                    <span>Nombre de usuario</span>
                    {{ new_cashier_form.username(placeholder='Nombre de usuario', id="username") }}
                    <!-- <input type="text" name="username" id="username"> -->
                </label>
                <label for="password">
                    <span>Contraseña</span>
                    {{ new_cashier_form.password(placeholder='Contraseña', id="password") }}
                    <!-- <input type="text" name="password" id="password"> -->
                </label>
                <label for="email">
                    <span>Correo electrónico</span>
                    {{ new_cashier_form.email(placeholder='Correo electrónico', id="email") }}
                    <!-- <input type="email" name="email" id="email"> -->
                </label>
                <div class="buttons-container">
                    {{ new_cashier_form.submit(class="button create") }}
                    <!-- <button type="submit" class="button create">Crear cajero</button> -->
                    <button type="reset" class="button cancel">Cancelar</button>
                </div>
            </form>
        </div>
        <div class="panel">
            <figure>
                <img class="circle-image" src={{ url_for('static', filename='images/cashier.jpg') }} alt="cajero_img">
            </figure>
        </div>
    </main>
</body>
</html>