<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ url_for('static',filename='styles/gestionarProducto.css') }}>
    <title>Brioche ☕ - Productos</title>
</head>
<body>
    <header class="header">
        <div class="user-info">
            <a href="#">
                <figure class="user-info-item">
                    <img src={{ url_for('static', filename='images/usuario_profile_img.png') }} alt="Foto de perfil">
                </figure>
                <h3 class="username user-info-item">{{ current_user.id }}</h3>
            </a>
        </div>
        <h1 class="window-title">Cafetería Brioche</h1>
        <div class="buttons-container">
            <a class="button go-back" href="{{ url_for('show_admin_menu') }}">Regresar</a>
            <a class="button log-out" href="{{ url_for('auth.logout') }}">Cerrar Sesion</a>
        </div>
    </header> 
-->

{% extends "template.html" %}

{% block link %}
    <link rel="stylesheet" href={{ url_for('static',filename='styles/gestionarProducto.css') }}>
    <link rel="stylesheet" href={{ url_for('static',filename='styles/estilos.css') }}>
    <link rel="stylesheet" href={{ url_for('static',filename='styles/alerts.css') }}>
{% endblock %}


{% block title %}Brioche ☕ - Productos{% endblock %}

{% block body %}
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{category}} alert-dismissible" style="font-size:14px">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              {{message}}
            </div>
          {% endfor %}
        {% endif %}
    {% endwith %}
    
    <main class="main-container">
        <aside class="sidebar">
            <form action="" class="form" enctype="multipart/form-data" method='post'>
                {{ product_form.hidden_tag() }}
                <h3>Gestionar Productos</h3>
                <label for="referencia">
                    <span>Número de referencia</span>
                    {{ product_form.ref_number(id="referencia") }}
                    {% for error in product_form.ref_number.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                    <!-- <input type="text" name="referencia" id="referencia"> -->
                </label>
                <label for="producto">
                    <span>Nombre del producto</span>
                    {{ product_form.product_name(id="producto") }}
                    {% for error in product_form.product_name.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                    <!-- <input type="text" name="producto" id="producto"> -->
                </label>
                <label for="precio">
                    <span>Precio</span>
                    {{ product_form.price(id="precio") }}
                    {% for error in product_form.price.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                    <!-- <input type="text" name="precio" id="precio"> -->
                </label>
                <label for="cantidad">
                    <span>Cantidad</span>
                    {{ product_form.qty(id="cantidad") }}
                    {% for error in product_form.qty.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                    <!-- <input type="text" name="cantidad" id="cantidad"> -->
                </label>
                <label for="foto" class="flex-label">
                    <span class="foto-span">Foto del producto</span>
                    <label for="file-upload" class="custom-file-upload button non-critical">
                        Examinar
                    </label>
                    {{ product_form.photo(id="file-upload") }}
                    
                    <!-- <input id="file-upload" type="file"/> -->
                </label>
                {% for error in product_form.photo.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
                {{ product_form.create_button(class="button") }}
                {{ product_form.update_button(class="button non-critical") }}
                {{ product_form.delete_button(class="button") }}

                <!-- <button type="submit" class="button" name="crear">Crear producto</button>
                <button type="submit" class="button non-critical" name="actualizar">Actualizar producto</button>
                <button type="submit" class="button" name="eliminar">Eliminar producto</button> -->
            </form>
            <!-- <figure>
                <img src={{ url_for('static', filename='images/logo_brioche.png') }} alt="Brioche logo">
            </figure> -->
        </aside>
        <div class="right-container">
            <div class="busqueda-container">
                <form action="POST" class="busqueda-form">
                    <label for="busqueda">
                        <span>Buscar</span>
                        <input type="text" class="producto-searchBar" name="busqueda" id="busqueda" placeholder="Nombre o Numero de referencia">
                        <img src={{ url_for('static', filename='images/lupa.png') }} alt="search icon">
                    </label>
                </form>
            </div>
            <div class="gallery-container">
                <img src={{ url_for('static', filename='images/coca_cola.png') }} alt="producto 1">
                <img src={{ url_for('static', filename='images/dona.png') }} alt="producto 2">
                <img src={{ url_for('static', filename='images/croissant.png') }} alt="producto 3">
                <img src={{ url_for('static', filename='images/late.png') }} alt="producto 4">
                <img src={{ url_for('static', filename='images/pan.png') }} alt="producto 5">
                <img src={{ url_for('static', filename='images/brownie.png') }} alt="producto 6">
            </div>
        </div>
    </main>
    

    {% endblock %}

<!--    
</body>
</html>
-->