<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brioche ☕ - Administrador</title>
    <link rel="stylesheet" href={{ url_for('static',filename='styles/estilos.css') }}>

</head>
<body>
    <div class="principal">
        <div class="principal-items">
            <div class="usuario-foto" >
                <img src={{ url_for('static', filename='images/usuario_profile_img.png') }} alt="Usuario_img">
            </div>
            <div class="usuario">Usuario</div>
            <div class="brioche">Cafetería Brioche</div>
            <div>
                <a class="boton salir" href="{{ url_for('show_main_menu') }}">Salir</a>
            </div>
        </div>
    </div>

    <div class="cuerpo cuerpo-admin">
        <div class="logo">
            <img class="brioche-foto-admin" src={{ url_for('static', filename='images/logo_brioche.png') }} alt="Logo Brioche">
        </div>
        <div class="seleccion">
            <a href="{{ url_for('vender') }}">
                <img class="brioche-foto" src={{ url_for('static', filename='images/factura.png') }} alt="Facturas">
            </a>
            <a class="boton aceptar-admin" href="{{ url_for('vender') }}">Registrar Venta</a>
        </div>
        <div class="seleccion">
            <a href="gestionarProducto.html">
                <img class="brioche-foto" src={{ url_for('static', filename='images/pan.png') }} alt="Pan">
            </a>
            <a class="boton aceptar-admin" href="{{ url_for('gestionar_productos') }}">Gestionar Productos</a>
        </div>
        <div class="seleccion">
            <a href="{{ url_for('crear_cajero') }}">
                <img class="brioche-foto" src={{ url_for('static', filename='images/caja_registradora.png') }} alt="Caja registradora">
            </a>
            <a class="boton aceptar-admin" href="{{ url_for('crear_cajero') }}">Crear Cajero</a>
        </div>
    </div>
</body>
</html>