<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brioche ☕ - Cajero</title>
    <link rel="stylesheet" href={{ url_for('static',filename='styles/estilos.css') }}>
</head>
<body>
    <div class="principal">
        <div class="principal-items">
            <div class="usuario-foto" >
                <img src={{ url_for('static', filename='images/usuario_profile_img.png') }} alt="Usuario">
            </div>
            <div class="usuario">Usuario</div>
            <div class="brioche">Cafetería Brioche</div>
            <div>
                <a class="boton salir" href="inicio.html">Salir</a>
            </div>
        </div>
    </div>

    <div class="cuerpo cuerpo-admin">
        <div class="cuerpo-cajero">
            <div class="logo">
                <img class="brioche-foto-admin" src={{ url_for('static', filename='images/logo_brioche.png') }} alt="Logo Brioche">
            </div>
            <div class="seleccion">
                 <a href="ventas.html">
                    <img class="brioche-foto" src={{ url_for('static', filename='images/factura.png') }} alt="Facturas">
                 </a>
                <a class="boton aceptar-admin" href="ventas.html">Registrar Venta</a>
            </div>
            <div class="seleccion">
                <a href="cambio-constrasena.html">
                    <img class="brioche-foto" src={{ url_for('static', filename='images/candado.png') }} alt="Candado y llave">
                </a>
                <a class="boton aceptar-admin" href="cambio-constrasena.html">Cambiar Contraseña</a>
            </div>
        </div>
    </div>
</body>
</html>