{% extends "template.html" %}

{% block title %}Brioche ☕ - Cajero{% endblock %}

{% block body %}

    <div class="cuerpo cuerpo-admin">
        <div class="cuerpo-cajero">
            <div class="logo">
                <img class="brioche-foto-admin" src={{ url_for('static', filename='images/logo_brioche.png') }} alt="Logo Brioche">
            </div>
            <div class="seleccion">
                 <a href="ventas.html">
                    <img class="brioche-foto" src={{ url_for('static', filename='images/factura.png') }} alt="Facturas">
                 </a>
                <a class="boton aceptar-admin" href="{{ url_for('vender') }}">Registrar Venta</a>
            </div>
            <div class="seleccion">
                <a href="{{ url_for('cambiar_clave') }}">
                    <img class="brioche-foto" src={{ url_for('static', filename='images/candado.png') }} alt="Candado y llave">
                </a>
                <a class="boton aceptar-admin" href="{{ url_for('cambiar_clave') }}">Cambiar Contraseña</a>
            </div>
        </div>
    </div>

{% endblock %}