{%  extends "template.html" %}

{%  block title %}Brioche ☕ - Administrador{% endblock %}

{% block body %}

    <div class="cuerpo cuerpo-admin">
        <div class="logo">
            <img class="brioche-foto-admin" src={{ url_for('static', filename='images/logo_brioche.png') }} alt="Logo Brioche">
        </div>
        <div class="seleccion">
            <a href="{{ url_for('vender') }}">
                <img class="brioche-foto" src={{ url_for('static', filename='images/factura.png') }} alt="Facturas">
            </a>
            <a class="boton aceptar-admin" href="{{ url_for('vender') }}">Registrar Venta</a>
        </div>
        <div class="seleccion">
            <a href="gestionarProducto.html">
                <img class="brioche-foto" src={{ url_for('static', filename='images/pan.png') }} alt="Pan">
            </a>
            <a class="boton aceptar-admin" href="{{ url_for('gestionar_productos') }}">Gestionar Productos</a>
        </div>
        <div class="seleccion">
            <a href="{{ url_for('crear_cajero') }}">
                <img class="brioche-foto" src={{ url_for('static', filename='images/caja_registradora.png') }} alt="Caja registradora">
            </a>
            <a class="boton aceptar-admin" href="{{ url_for('crear_cajero') }}">Crear Cajero</a>
        </div>
    </div>

{% endblock %}