<!DOCTYPE html> 
<html lang="es">

<head>
   <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block link %}<link rel="stylesheet" href={{ url_for('static',filename='styles/estilos.css') }}>{% endblock %}
</head>

<body>
    <div class="principal">
        <div class="principal-items">
            <div class="usuario-foto" >
                <img src={{ url_for('static', filename='images/usuario_profile_img.png') }} alt="Usuario_img">
            </div>
            <div class="usuario">Usuario</div>
            <div class="brioche">Cafetería Brioche</div>
            <div>
                <a class="boton salir" href="{{ url_for('show_main_menu') }}">Salir</a>
            </div>
        </div>
    </div>

    {% block body %} {% endblock %}

</body>
</html>