{% extends "template.html" %}
{% block link %}<link rel="stylesheet" href={{ url_for('static',filename='styles/estilos.css') }}> <link rel="stylesheet" href={{ url_for('static',filename='styles/es.css') }}>{% endblock %}
{% block title %}Brioche ☕ - Ventas{% endblock %}



{% block body %}

    {% for message in get_flashed_messages() %}
            {{ message }}
    {% endfor %}

    <div class="cuerpo1">
        <div class="galeria1">
            <div class="galeria-cuadro1">Galería de productos</div>
            <div class="imagenes1">
			{% for data in itemData%}
				{% for row in data %}
			    <div class="producto1">
                    <div class="nombre1">{{row[1]}}</div>
					<div class="gcontainer">
						<img class="imagen1" src={{ url_for('static', filename='uploads/' + row[4]) }} alt="producto" style="width:100%;"/>
						<div class="text-block">
							<h4>$ {{row[2]}}</h4>
						</div>
					</div>
                    <div class="abajo1">
					{%if row[3] > 0 %}
						<form method="post" action="/agregar">
							<input type="hidden" name="referencia" value="{{row[0]}}"/>
							<input type="hidden" name="nombre" value="{{row[1]}}"/>
							<input type="hidden" name="precio" value="{{row[2]}}"/>
							<input type="hidden" name="stock" value="{{row[3]}}"/>
							<input type="hidden" name="foto" value="{{row[4]}}"/>
							<input class="tbcant1" name="cant" type="number" value="1"> &nbsp <input type="submit" class="btnAdd" value="Agregar"/>
						</form>
						
                    {% else %}
						<div class="cantidad1">Sin stock</div>
					{% endif %}
					
					</div>
                </div>	
				{% endfor %}
			{% endfor %}
			</div>
			 <div class="galeria-cuadro1"> &nbsp </div>
		</div>
		
		<!---->
		
		
		<div class="centro1">
		  	<div id="shopping-cart">
				<div class="txt-heading">Nueva Venta</div>		
				{% if 'lst_compra' in session %}
					<a id="btnEmpty" href="{{ url_for('vaciar') }}">Borrar venta</a>
					<table class="tbl-cart" cellpadding="10" cellspacing="1">
					<tbody>
						<tr>
							<th style="text-align:left;">Nombre</th>
							<th style="text-align:left;">Referencia</th>
							<th style="text-align:right;" width="5%">Cantidad</th>
							<th style="text-align:right;" width="10%">Precio unitario</th>
							<th style="text-align:right;" width="10%">Total</th>
							<th style="text-align:center;" width="5%">Eliminar</th>
						</tr>
						{% for key, val in session['lst_compra'].items() %}
							{% set cantidad = session['lst_compra'][key]['cantidad'] %}
							{% set precio = session['lst_compra'][key]['precio'] %}
							{% set pTotal = session['lst_compra'][key]['pTotal'] %}					
							<tr>
								<td><img src="/static/uploads/{{ session['lst_compra'][key]['foto'] }}" class="cart-item-image" />{{ session['lst_compra'][key]['nombre'] }}</td>
								<td>{{ session['lst_compra'][key]['referencia'] }}</td>
								<td style="text-align:right;">{{ cantidad }}</td>
								<td  style="text-align:right;">&dollar; {{ precio }}</td>
								<td  style="text-align:right;">&dollar; {{ pTotal }}</td>
								<td style="text-align:center;">
									<a href="{{ url_for('.borrar_producto', ref=session['lst_compra'][key]['referencia']) }}" class="btnRemoveAction">Eliminar</a>
								</td>
							</tr>
						{% endfor %}
						<tr>
							<td colspan="2" align="right">Total:</td>
							<td align="right">{{ session['cant_prod_total'] }}</td>
							<td align="right" colspan="2"><strong>&dollar; {{ session['precio_prod_total'] }}</strong></td>
							<td></td>
						</tr>
					</tbody>
					</table>
				{% else: %}
					<div class="no-records">No se han agregado productos</div>
				{% endif %}
			</div>
        </div>
    </div>
		
		
		<!--
        <div class="botones1">
            <a class="boton1 aceptar1" href="{{ url_for('vender') }}">Aceptar</a>
            <a class="boton1 cancelar1" href="{{ url_for('vender') }}">Cancelar</a>
        </div>
	</div>-->
	
{% endblock %}